.contact-parent {
background-color: #221A23;
justify-content: center;
height: 40vh;
text-align: center;
align-items: center;
}

.h1-contact {
    color:#E0E2EE;
    font-weight:700;
    font-size: 54px;
    margin-left: 16%;
    margin-right: 16%;
    padding-top:80px;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221A23;
    height:40vh;
    width: 100%;
    padding-top:80px;;
}

.contact-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #221A23;
    height:60vh;
    width: 100%;
    padding-bottom: 240px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 16%;
}

.contact-card {
display: inline-block;
justify-content: center;
text-align: center;
flex-direction: row;
max-width: 360px;
vertical-align: middle;
border-radius: 20px;
height: 240px;
margin: 0px 56px 0px 56px;
}

/* .contact-card:hover {
transition: all 1ms ease-in;
background-color: #DDD9F3;
} */

.card-title {
    font-weight: 900;
}

.contact-heading {
margin-top: 40px;
margin-bottom: 24px;
text-align: left;
color: #B1A5F8;
}

.contact-links {
    display: flex;
    text-decoration: none;
    /* margin: 40px; */
    margin-bottom: 24px;
    color:#D2F3ED;
    font-weight: 400;
    text-align: left;
}

.contact-links:hover {
    background-color: #8A3FFC;
    transition: all 2ms ease-in;
}

.contact {
    height: 40vh;
    background-color: #221A23;
    color:#E0E2EE;
}


.contact-background {
 background-color: #221A23;
}

@media screen and (max-width: 768px) {
    .contact-heading {
        text-align: center;
    }

    .contact-detail {
        flex-direction: column;
    }

    .contact-links {
        text-align: center;
        display:inline;
    }

    .contact-heading {
        font-size: 32px;
        }

    .contact {
        height: auto;
    }

    /* .contact-detail{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    } */

    .contact-parent {
        height: auto;
    }
}